# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Data files
*.vtk
*.dat
carmen.prf
carmen.par
*.gp
*.m
*.eps
*.png
carmen.ini
*.bak
*.cbp
*.depend
*.layout
Code/carmen
Code/carmen.par
Code/carmen.prf
Code/carmen.ini
Code/*.eps
Code/*.png
bin
